div {
  box-sizing: border-box;
  border: solid red;
  border-width: 3px;
}

div {
  h1 {
    display: flex;
    justify-content: center;
    color: green;
    text-decoration: underline blue;
  }

  section {
    display: flex;
    flex-direction: row;
    margin: 10px 10px 10px 10px;
  }

  article {
    display: flex;
    justify-content: center;
    text-align: center;
    border: solid green;
    border-width: 3px;
    padding: 30px;
  }
  
  article:nth-child(odd){
    color: blue;
  }

  article:nth-child(even){
    color: rgb(255, 0, 0);
  }
  
}